// Global default params, used in configs
params {
    // Input options
    input = null
    modality = "rna"

    // Output options
    outdir = "/home/vmartin/projects/pipeline/cellranger/counts"
    
    // Align option
    genome_ref = "/research/groups/northcgrp/home/common/Vincentius/resources/references/refdata-gex-GRCh38-2024-A"
    //genome_ref = "/research/groups/northcgrp/projects/Northcott_Bioinformatics/northcgrp/References/Human/Ensembl/CellRanger/GRCh38/refdata-gex-GRCh38_and_GRCm39-2024-A"
    atac_ref = "/research/groups/northcgrp/home/common/Vincentius/resources/references/refdata-cellranger-arc-GRCh38-2020-A-2.0.0"
    
    gtf_file="/research/groups/northcgrp/projects/Northcott_Bioinformatics/northcgrp/References/Human/Ensembl/CellRanger/GRCh38/refdata-gex-GRCh38_and_GRCm39-2024-A/genes/genes.gtf"

    
}

process {
    executor = 'local'

    withLabel: process_med {
        cpus = 4
        memory = '16 GB'
    }

    withLabel: process_high {
        cpus = 4
        memory = '16 GB'
    }

    withLabel: process_high_single {
        cpus = 1
        memory = '64 GB'
    }
    
    withLabel: process_gpu_high {
        cpus = 1
        memory = '32GB'
        queue = 'gpu'
        clusterOptions = '-P cellbender_gpu -gpu "num=1/host" -R "span[hosts=1]"'
    }
}

profiles {
    // conda needs to be enabled in the new nextflow version
    conda.enabled = true
}

env { 
    MRO_DISK_SPACE_CHECK = "disable"
}
