// Global default params, used in configs
params {
    // Input options
    input = null
    modality = "rna"

    // Output options
    outdir = "/research/groups/northcgrp/home/common/Vincentius/scbarcode/counts"
    
    // Align option
    //genome_ref = "/research/groups/northcgrp/home/common/Vincentius/resources/references/refdata-gex-GRCh38-2024-A"
    genome_ref = "/research/groups/northcgrp/projects/Northcott_Bioinformatics/northcgrp/References/Mouse/Ensembl/CellRanger/GRCm39/refdata-gex-GRCm39-2024-A"
    atac_ref = "/research/groups/northcgrp/home/common/Vincentius/resources/references/refdata-cellranger-arc-GRCh38-2020-A-2.0.0"
    
}

process {
    executor = 'lsf'

    withLabel: process_med {
        cpus = 1
        memory = '32 GB'
    }

    withLabel: process_high {
        cpus = 4
        memory = '32 GB'
    }

    withLabel: process_high_single {
        cpus = 1
        memory = '64 GB'
    }
}

profiles {
    // conda needs to be enabled in the new nextflow version
    conda.enabled = true
}

env { 
    MRO_DISK_SPACE_CHECK = "disable"
}
